<div class="row margin-top bg-danger justify-content-center pt-5 pb-5 text-center">
    <h2> Seleccione Idioma de Texto</h2>
    <form class="d-flex justify-content-center align-items-center mb-5">
        <label for="a">
            <img class="bandera img-fluid" src="assets/img/esp.jpg" alt="bandera castellana">
        </label>
        <input class="radio-tam" type="radio" name="esp" id="a" [value]="obtenerCodigo('español')" [(ngModel)]="contenido">
        <label for="b">
            <img class="bandera img-fluid" src="assets/img/eng.jpg" alt="bandera inglesa">
        </label>
        <input class="radio-tam" type="radio" name="eng" id="b" [value]="obtenerCodigo('inglés')" [(ngModel)]="contenido">
        <label for="c">
            <img class="bandera img-fluid" src="assets/img/fr.jpg" alt="bandera francesa">
        </label>
        <input class="radio-tam" type="radio" name="fran" id="c" [value]="obtenerCodigo('francés')" [(ngModel)]="contenido">
        <label for="d">
            <img class="bandera img-fluid" src="assets/img/pt.png" alt="bandera portuguesa">
        </label>
        <input class="radio-tam" type="radio" name="port" id="d" [value]="obtenerCodigo('Portugués')" [(ngModel)]="contenido">
    </form>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="texto"></textarea>
        <label for="floatingTextarea2">Ingresar Texto</label>
      </div>
      <h2 class="mt-4">Seleccione Idima a Traducir</h2>
    <form class="d-flex justify-content-center align-items-center mt-5">
        <label for="a">
            <img class="bandera img-fluid" src="assets/img/esp.jpg" alt="bandera castellana">
        </label>
        <input class="radio-tam" type="radio" name="esp" id="a" [value]="obtenerCodigo('español')" [(ngModel)]="target">
        <label for="b">
            <img class="bandera img-fluid" src="assets/img/eng.jpg" alt="bandera inglesa">
        </label>
        <input class="radio-tam" type="radio" name="eng" id="b" [value]="obtenerCodigo('inglés')" [(ngModel)]="target">
        <label for="c">
            <img class="bandera img-fluid" src="assets/img/fr.jpg" alt="bandera francesa">
        </label>
        <input class="radio-tam" type="radio" name="fran" id="c" [value]="obtenerCodigo('francés')" [(ngModel)]="target">
        <label for="d">
            <img class="bandera img-fluid" src="assets/img/pt.png" alt="bandera portuguesa">
        </label>
        <input class="radio-tam" type="radio" name="port" id="d" [value]="obtenerCodigo('Portugués')" [(ngModel)]="target">
    </form>
    <button class="button mt-5 traducir" (click)="crearTraduccion(texto,contenido,target)">Traducir</button>
    <div class="bg-primary fs-2 mt-2"> {{traduccion}} </div>
</div>