<header class="row fixed-top">
    <nav class="navbar navbar-expand-lg bg-nav">
        <div class="container-fluid">
          <a class="navbar-brand bg-nav margin-left rounded-2 border border-info text-center">Navegacion</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
              <li class="nav-item">
                <a class="nav-link active bg-nav bg-black rounded-2 border border-info text-center" aria-current="page" [routerLink]="['servicio1']">PUNTO1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-nav bg-black rounded-2 border border-info text-center" [routerLink]="['servicio2']">PUNTO2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-nav bg-black rounded-2 border border-info text-center" [routerLink]="['servicio3']">PUNTO3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-nav bg-black rounded-2 border border-info text-center" [routerLink]="['servicio4']">PUNTO4</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>