<div id="modal" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content container-fluid w-100 h-70 bg-morado2 text-center">
            <div class="modal-header">
                <h5 class="modal-title">{{nombre}}</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                    <div class="contenedor-modal">
                        <div class="row" *ngFor="let obj of objetos">
                            <div class="col"><b>Id:</b> {{obj.id}}</div>
                            <div class="col"> <b>Nombre:</b> {{obj.name}}</div>
                        </div>
                    </div>
            </div>
             <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><b>Cantidad:</b> {{obtenerCantidad(objetos || [])}}</div>
                        <div class="col d-flex justify-content-center btn-cerrar-posicion">
                            <button class="btn-cerrar" data-bs-dismiss="modal">❌</button>
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>
