.margin-top{
    margin-top: 60px;
   }
   @media (max-width: 228px) {
       .margin-top {
         margin-top: 100px;
       }
   }
   
.activo{
    background-color: aliceblue;
}

.activo:hover{
    background-color: chocolate;
    transition: 1s;
    cursor: pointer;
}
ul{
  text-align: center;
}

.obtener{
    background-color: blueviolet;
    width:  60%;
    color: aliceblue;
    text-align: center;
    border: 5px black solid;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.obtener:hover{
    background-color: blue;
    transition: 2s;
}