.margin-top{
    margin-top: 60px;
   }
   @media (max-width: 228px) {
       .margin-top {
         margin-top: 100px;
       }
   }

.bg-morado{
    padding-top:100px;
    padding-bottom:100px;
    background-color: #1f013ae8;
    color: aliceblue;
}

.activo{
    background-color: red;
    height: 100px;
    width: 100px;
}

.activo:hover{
    background-color: blue;
    transition: 1s;
    cursor: pointer;
}